* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7FFFD4;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#container {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 75px;
    padding: 0 20px;
}

.logo img {
    vertical-align: middle;
}

.logo .title {
    font-size: 2.1rem;
    font-weight: bold;
    vertical-align: middle;
}

#play {
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    background-color: #E9E9ED;
    border-radius: 3px;
    border: 1px solid #A5A5B0;
    font-weight: 600;
    padding: 0 20px;

}

main {
    padding: 40px;
    height: calc(100vh - 126px);
}

footer {
    background-color: #fff;
    height: 51px;
}